.progress{
  pointer-events: none;
  .bar{
    // background: #1890ff;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    .peg{
      background: #1890ff;
      // box-shadow: 0px 0 5px #000000d1;
      width: 0;
      height: 100%;
      transition: width 250ms;
    }
  }
}