{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@": "./src",
        "@U": "./src/utils"
      }
    }],
    "@babel/plugin-syntax-dynamic-import"
  ]
}