{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      // {
      //   "targets": {
      //     "node": "current",
      //   },
      //   "useBuiltIns": "usage",
      //   "corejs": "3.6.5"
      // }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime", {
        "corejs": 3
      }
    ],
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@": "./src",
        "@U": "./src/utils"
      }
    }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "@babel/plugin-syntax-dynamic-import"
  ]
}