@import '~antd/dist/antd.css';
@import './iconfont.scss';
body, html{
  padding: 0;
  margin: 0;
  height: 100%;
}
#root{
  height: 100%;
  display: flex;
}

.header{
  color: white;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  .collapse{
    cursor: pointer;
    font-size: 22px;
  }
  .logo{
    height: 32px;
    margin-left: 15px;
  }
}



.ant-list-item-meta-title{
  margin-bottom: 0!important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ant-list-item-main{
  margin-right: 10px;
}
p.content{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ant-list-item-extra{
  margin: 0!important;
  display: none;
  @media screen and(min-width: 500px){
    display: block;
  }
}
.ant-layout, .ant-layout-footer{
  background: transparent;
}

